{% extends 'layouts/_base.html' %}

{% block title %}
Usuaris
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped" style="background-color: #fefefe;">
	<thead>
		<tr>
			<th>ID</th>
			<th>NOM</th>
			<th>EMAIL</th>
			<th>ROL</th>
			<th>ACCIONS</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
                {% if user.is_blocked() %}
                    <a class="btn btn-danger btn-sm" href="{{ url_for('admin_bp.unblock_user', user_id=user.id) }}">Desbloquear</a>
                {% else %}
                    <a class="btn btn-warning btn-sm" href="{{ url_for('admin_bp.block_user', user_id=user.id) }}">Bloquear</a>
                {% endif %}
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a class="btn btn-outline-dark btn-xl" href="/admin">&#x3c;&#x3c; Tornar la pàgina d'administració</a>

{% endblock %}
